VITE_FIREBASE_API_KEY=AIzaSyAw4XaKN7AWSHJ4PKrSVQZBuEOhYGRTV80
VITE_FIREBASE_AUTH_DOMAIN=sues-d7a7f.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=sues-d7a7f
VITE_FIREBASE_STORAGE_BUCKET=sues-d7a7f.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=279653164795
VITE_FIREBASE_APP_ID=1:279653164795:web:1c382e4587c116d836b25e


